<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试velocity</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>
<table class="display table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>密码</th>
            <th>姓名</th>
        </tr>
    </thead>
    <tbody>
        #foreach($t in $users)

        <tr>
            <td>$t.Id</td>
            <td>$t.Password</td>
            <td>$t.name</td>
        </tr>
        #end
    </tbody>
</table>
#set($v = "aaa")
<b>$v</b>
#set($s = $v)
<b>$s</b>
</body>
</html>